<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{base/layout}">


<div layout:fragment="content">
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <ol class="breadcrumb">
                                <li><a th:href="@{/}">系统首页</a></li>
                                <li><a th:href="@{/strategy/strategyManageUI}">我的收藏</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="container">
            <div class="row med_toppadder50 med_bottompadder50">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>我的关注</h1>
                    <div class="page-container">
                        <div class="container">
                            <div class="row med_toppadder50 med_bottompadder50">
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                    <div class="filter-type-box cy-tabs">
                                        <ul class="nav nav-tabs mb-10">
                                            <li class="active">
<!--                                                <a href="javascript:void(0);"><i class="fa"></i>常设展馆</a>-->
                                            </li>
                                            <li class="pull-right">
                                                <div class="search-tags">
<!--                                                    <form th:action="@{/reserve/reserveAttractionsListUI}" methed="post" name="search-form"  id="search-form" class="form-inline">-->
<!--                                                        <div class="input-group">-->
<!--                                                            <input type="text" name="searchName" th:value="${searchName}" class="form-control">-->
<!--                                                            <span class="input-group-btn">-->
<!--                                                <input class="btn btn-info" type="submit" value="名称搜索"><i class="fa fa-search"></i>  </input>-->
<!--                                            </span>-->
<!--                                                        </div>-->
<!--                                                    </form>-->
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div th:each="attractions:${userStrategyList}" class="cy-news-grid-item">
                                        <div class="cy-news-thumbnail pull-left">
                                            <a th:href="@{/reserve/attractionsDetailsUI(id=${attractions.id})}">
                                                <img th:src="@{'/images/'+ ${attractions.image} +'.jpg'}"  class="image_fade" alt="">
                                            </a>
                                        </div>
                                        <div class="cy-media-body">
                                            <div class="cy-grid-body">
                                                <h5><a th:href="@{/reserve/attractionsDetailsUI(id=${attractions.id})}" th:text="${attractions.name}"></a></h5>
                                                <small th:text="${attractions.describe}">
                                                </small>
                                            </div>
                                            <div class="cy-btm-info">
                                                <div class="cy-btm-date" th:text="${attractions.address}"></div>
                                                <div class="cy-btm-tags"><a href="javascript:void(0);">北京</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery_min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/wow.min.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
        <script th:src="@{/plugins/slider-pro/js/jquery.sliderPro.min.js}"></script>
        <script th:src="@{/plugins/owlcarousel/js/owl.carousel.min.js}"></script>
        <script th:src="@{/layer/layer.js}"></script>
        <script th:inline="javascript">
            function cancelTravelStrategyReserve(id) {
                $.ajax({
                    url: '/travel/strategy/cancelTravelStrategyReserve',
                    data: {"id": id},
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        if (result.code === 200) {
                            window.location.reload();
                        } else {
                            layer.open({
                                title: '错误提示',
                                content: result.message
                            });
                        }
                    }
                })
            }

            $('.filter-type-box span a').click(function () {
                if ($(this).hasClass('active'))
                    $(this).removeClass('active')
                else
                    $(this).addClass('active')
            });
            $('.cy-summary-intro p').each(function () {
                var maxwidth = 260;
                var backup = $(this).html();
                var height_lg = $(this).parent().height();
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + '...');
                    var backup_1 = $(this).html();
                    var height_sm = $(this).parent().height();
                    $(this).parent().css('height', height_sm);
                }
                var d_value = height_lg - height_sm;
                $(this).next().click(function () {
                    if ($(this).html() == '更多') {
                        $(this).html('收起');
                        $(this).prev().html(backup);
                        $(this).parent().animate({height: '+=' + d_value + 'px'});
                    } else {
                        $(this).html('更多');
                        $(this).prev().html(backup_1);
                        $(this).parent().animate({height: '-=' + d_value + 'px'});
                    }
                })
            });

            function saveForm() {
                //name
                var title = $('#title').val();


                if ($.trim(title) === '') {
                    layer.msg("标题不能为空");
                    return;
                }
                $.ajax({
                    url: '/travel/strategy/saveTravelStrategy',
                    data: $("#insertMember").serialize(),
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        if (result.code === 200) {
                            window.location.href = "/travel/strategy/pushStrategyListUI";
                        } else {
                            layer.open({
                                title: '错误提示',
                                content: result.message
                            });
                        }
                    }
                })
            }
        </script>
    </div>
</div>
</html>
