<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
		</div>
		
		<div class="nav">
			<div class="center">
				<ul>
					<li><a href="index.html" class="first">网站首页</a></li>
					<li><a href="about.html" class="first">博馆简介</a></li>
					<li><a href="product.html" class="first">馆内展览</a></li>
					<li><a class="first">馆内藏品</a></li>
					<li><a class="first">游览路线</a></li>
					<li><a href="service.html" class="first">参观预约</a></li>
					<li><a href="news.html" class="first">热门资讯</a></li>
					<li><a class="first">个人中心</a></li>
				</ul>
				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>
			</div>
		</div>
	</div>
	
	<div class="lmbanner"><img src="img/aboutbg.jpg" ></div>
	
	<div class="about">
		<div class="about_01">
			<div class="title"><h2>博物馆简介</h2></div>
			<div class="box">
				<p>XX博物院由原XX省博物馆、XX省民俗博物馆、XX省文物出境鉴定中心、XX省文物交流中心整合组建而成。XX省博物馆成立于1953年4月，馆址设在当时XX省会保定市古莲花池院内的藏经楼。1982年XX省博物馆迁至省会石家庄市，借用XX省展览馆办公并举办展览。1986年XX省展览馆、河北省博物馆合并改建为XX省博物馆，次年正式开馆。2006年XX省博物馆启动改扩建工程。2013年6月8日XX省博物馆新馆试运行开放。2014年6月9日XX博物院揭牌并正式开放。2015年XX博物院完成整合组建。</p>
				<p>XX博物院包括主馆区、建华馆区、育才馆区三部分。主馆区位于石家庄市文化广场，馆舍建筑分为南北两区，北区建于1968年，原为“毛泽东思想胜利万岁展览馆”，外观仿北京人民大会堂的廊柱式建筑，总建筑面积20028平方米，建筑风格体现了鲜明的时代特点，2001年被XX省人民政府公布为河北省文物保护单位。南区为新建区，总建筑面积33100平方米。南区和北区展览面积共计21000余平方米。新建筑周围环以高大的廊柱，与北区建筑形制和主色调相呼应。建筑巍峨壮丽，和谐统一，是石家庄市标志性文化景观。建华馆区和育才馆区为我院文物库房，建华馆区位于石家庄市建华南大街，建筑面积5180平方米；育才馆区位于石家庄市育才街，建筑面积4735平方米。</p>
				<p>XX博物院现有藏品总数为24万件，其中一级文物340（件/套），二级文物1926（件/套），三级文物17383（件/套）。另外，院内藏书5万余册，不少是明清善本图书，为河北省地方志主要收藏单位之一。</p>
				<img src="img/aboutimg.jpg" alt="">
			</div>
		</div>
		<div class="about_02">
			<div class="title"><h2>周边位置</h2></div>
			<div class="map"><img src="img/map.jpg" alt=""></div>
		</div>
	</div>
	
	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
</body>
</html>