<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
			<div class="info">
				<p>品质游 · 文化游</p>
				<p>地市级综合性博物馆</p>
			</div>
		</div>
		
		<div class="nav">
			<div class="center">
				<ul>
					<li><a href="index.html" class="first">网站首页</a></li>
					<li><a href="about.html" class="first">博馆简介</a></li>
					<li><a href="product.html" class="first">馆内展览</a></li>
					<li><a class="first">馆内藏品</a></li>
					<li><a class="first">游览路线</a></li>
					<li><a href="service.html" class="first">参观预约</a></li>
					<li><a href="news.html" class="first">热门资讯</a></li>
					<li><a class="first">个人中心</a></li>
				</ul>
				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>
			</div>
		</div>
	</div>
	
	<div class="lmbanner"><img src="img/newbg.jpg" ></div>
	
	<div class="main">
		<div class="mleft">
			<h2>热门资讯</h2>
			<ul>
				<li class="on"><a href="news.html">行业动态</a></li>
				<li><a href="bnews.html">本馆新闻</a></li>
			</ul>
		</div>
		<div class="mright">
			<div class="title"><h2>本馆新闻</h2></div>
			<div class="article">
				<h2>威尼斯国际艺术双年展“不息”中国馆落地北京</h2>
				<div class="info">发表时间：2028-08-08 15:13</div>
				<div class="art">
					<p>展览展出了多件录像、绘画、雕塑、装置、刺绣、皮影、摄影和多媒体剧场等作品，并辅以文献和工作坊、演出。展览以“不息”对应威尼斯双年展的总主题“艺术永生”，提出中国艺术“不息”的力量来自代际传承。展厅中展示了艺术家的师承墙、合作关系图，以及由陕西民间艺人与青年艺术家合作创造的多媒体皮影表演。</p>
					<p>展览在威尼斯历经半年展出，以其强烈的视觉冲击力、独特的语境构建，引发关注，尤其是开幕周内的多媒体皮影演出，场场爆满。但在国内却引发业内争议，争议集中在是否应该使用皮影和刺绣这样的非物质文化遗产去参加威尼斯双年展这样的当代艺术活动。</p>
					<p>展览展出了多件录像、绘画、雕塑、装置、刺绣、皮影、摄影和多媒体剧场等作品，并辅以文献和工作坊、演出。展览以“不息”对应威尼斯双年展的总主题“艺术永生”，提出中国艺术“不息”的力量来自代际传承。展厅中展示了艺术家的师承墙、合作关系图，以及由陕西民间艺人与青年艺术家合作创造的多媒体皮影表演。</p>
					<p>展览在威尼斯历经半年展出，以其强烈的视觉冲击力、独特的语境构建，引发关注，尤其是开幕周内的多媒体皮影演出，场场爆满。但在国内却引发业内争议，争议集中在是否应该使用皮影和刺绣这样的非物质文化遗产去参加威尼斯双年展这样的当代艺术活动。</p>
				</div>
				<div class="pagefy">
					<ul>
						<li>上一篇：<a href="#">中华文明探源工程实证中华文明的起源和早期发展多元一体</a></li>
						<li>下一篇：<a href="#">国家非遗“瓷中君子”绞胎瓷逾百件珍品亮相郑州</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
</body>
</html>