<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
			<!-- <div class="info">
				<p>品质游 · 文化游</p>
				<p>地市级综合性博物馆</p>
			</div> -->
		</div>
		
		<div class="nav">
			<div class="center">
				<ul>
					<li><a href="index.html" class="first">网站首页</a></li>
					<li><a href="about.html" class="first">博馆简介</a></li>
					<li><a href="product.html" class="first">馆内展览</a></li>
					<li><a class="first">馆内藏品</a></li>
					<li><a class="first">游览路线</a></li>
					<li><a href="service.html" class="first">参观预约</a></li>
					<li class="on"><a href="news.html" class="first">热门资讯</a></li>
					<li><a class="first">个人中心</a></li>
				</ul>
				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>
			</div>
		</div>
	</div>
	
	<div class="lmbanner"><img src="img/newbg.jpg" ></div>
	
	<div class="main">
		<div class="mleft">
			<h2>热门资讯</h2>
			<ul>
				<li><a href="news.html">行业动态</a></li>
				<li class="on"><a href="bnews.html">本馆新闻</a></li>
			</ul>
		</div>
		<div class="mright">
			<div class="title"><h2>本馆新闻</h2></div>
			<div class="bnews">
				<ul>
					<li><a href="article.html">威尼斯国际艺术双年展“不息”中国馆落地北京</a><time>2028-08-13</time></li>
					<li><a href="article.html">中华文明探源工程实证中华文明的起源和早期发展多元一体</a><time>2028-08-13</time></li>
					<li><a href="article.html">国家非遗“瓷中君子”绞胎瓷逾百件珍品亮相郑州</a><time>2028-08-13</time></li>
					<li><a href="article.html">名人故居保护之路：文物活化利用的良方如何开？</a><time>2028-08-13</time></li>
					<li><a href="article.html">大运河文化带非遗大展将在京举办</a><time>2028-08-13</time></li>
					<li><a href="article.html">威尼斯国际艺术双年展“不息”中国馆落地北京</a><time>2028-08-13</time></li>
					<li><a href="article.html">中华文明探源工程实证中华文明的起源和早期发展多元一体</a><time>2028-08-13</time></li>
					<li><a href="article.html">国家非遗“瓷中君子”绞胎瓷逾百件珍品亮相郑州</a><time>2028-08-13</time></li>
					<li><a href="article.html">名人故居保护之路：文物活化利用的良方如何开？</a><time>2028-08-13</time></li>
					<li><a href="article.html">大运河文化带非遗大展将在京举办</a><time>2028-08-13</time></li>
					<li><a href="article.html">威尼斯国际艺术双年展“不息”中国馆落地北京</a><time>2028-08-13</time></li>
					<li><a href="article.html">中华文明探源工程实证中华文明的起源和早期发展多元一体</a><time>2028-08-13</time></li>
					<li><a href="article.html">国家非遗“瓷中君子”绞胎瓷逾百件珍品亮相郑州</a><time>2028-08-13</time></li>
				</ul>
			</div>
			<div class="pages">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">上一页</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一页</a></li>
					<li><a href="#">末页</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
</body>
</html>