<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
			<div class="info">
				<button>登录/注册</button>
			</div>
		</div>
		<h1> Charts </h1> </header> <canvas id="plots" style="width:100%;max-width:700px"></canvas>
		<script src="plot.js"></script>

		<div class="nav">
			<div class="center">
				<ul>
					<li><a href="index.html" class="first">网站首页</a></li>
					<li><a href="about.html" class="first">博馆简介</a></li>
					<li><a href="product.html" class="first">馆内展览</a></li>
					<li><a class="first">馆内藏品</a></li>
					<li><a class="first">游览路线</a></li>
					<li><a href="service.html" class="first">参观预约</a></li>
					<li><a href="news.html" class="first">热门资讯</a></li>
					<li><a class="first">个人中心</a></li>
				</ul>
				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>
			</div>
		</div>
	</div>

	<div class="banner"><img src="img/b_01.jpg" ></div>

	<div class="wrap">
		<div class="wrap_01">
			<div class="l">
				<div class="title">展览推荐</div>
				<ul>
					<li><img src="img/wrap_1_01.jpg" alt=""><p>珍奇石器千万<br>展出时间：xx月xx日<br>展出地点：二楼2展厅</p></li>
					<li><img src="img/wrap_1_02.jpg" alt=""><p>传统农耕时代<br>展出时间：xx月xx日<br>展出地点：二楼1展厅</p></li>
				</ul>
			</div>
			<div class="r">
				<div class="title">参观指南</div>
				<div class="item">
					<p><span>开放时间：</span>周二至周日9：00-17：00</p>
					<p><span>参观方法：</span>凭有效证件于南门或北门票务处现场领票，购票参观。</p>
					<p><span>参观路线：</span>为满足您多元化的参观需求，特为您推荐以下参观路线，您可以根据自己的实际情况进行选择路线。</p>
					<p><span>温馨提示：</span>我馆周一闭馆，观众可提前预约</p>
				</div>
			</div>
		</div>

		<div class="wrap_02">
			<div class="info">
				<h2>博物馆简介</h2>
				<div class="box">
					<p>2018年6月1日，是XXXX博物馆成立一百周年纪念日。</p>
					<p>现在的XXXX博物馆，无论是体现着先进理念的建筑外观，还是重新架构的展览陈列，无不散发着一座大型现代化博物馆的新鲜气息。</p>
					<p>在这新鲜的身影背后是其长达100年的历史足迹。</p>
					<p>追溯其源，XXXX博物馆是由上世纪天津文博、社教、美术、博览四个系列的馆、院汇集而成。</p>
					<p>自二十世纪早期至40年代，由于时局动荡，天津文教机构虽为数不多，但几经变革，很难平稳顺利的发展。</p>
					<p>XXXXX发展史的前几十年可谓曲折多变。</p>
				</div>
			</div>
		</div>

		<div class="wrap_03">
			<div class="title"><h2>常设展览</h2></div>
			<div class="item">
				<ul>
					<li><a href="#"><img src="img/pro_01.jpg" alt=""><p>《青铜时代》</p></a></li>
					<li><a href="#"><img src="img/pro_02.jpg" alt=""><p>《国外珍品》</p></a></li>
					<li><a href="#"><img src="img/pro_03.jpg" alt=""><p>《摩登女人》</p></a></li>
					<li><a href="#"><img src="img/pro_04.jpg" alt=""><p>《名窑名瓷》</p></a></li>
					<li><a href="#"><img src="img/pro_05.jpg" alt=""><p>《博物馆走廊》</p></a></li>
					<li><a href="#"><img src="img/pro_06.jpg" alt=""><p>《河北商代文明》</p></a></li>
					<li><a href="#"><img src="img/pro_07.jpg" alt=""><p>《宋朝古书》</p></a></li>
					<li><a href="#"><img src="img/pro_08.jpg" alt=""><p>《石器时代的河北》</p></a></li>
				</ul>
			</div>
		</div>
		<div class="wrap_04">
			<div class="l">
				<div class="tab">
					<ul>
						<li class="on"><a href="#">游览路线</a></li>
					</ul>
				</div>
				<div class="box">
					<ul>
						<li><a href="#">精品路线</a><span>2028-06-06</span></li>
						<li><a href="#">亲子路线</a><span>2028-06-06</span></li>
						<li><a href="#">特推路线</a><span>2028-06-06</span></li>
						<li><a href="#">最美路线</a><span>2028-06-06</span></li>
					</ul>
				</div>
			</div>
			<div class="r">
				<div class="div_01">
					<a><h2>马上预约 &gt;&gt;</h2></a>
				</div>
				<div class="div_02">
					<div class="title"><h2>本馆资讯</h2><a href="#">更多 &gt;&gt;</a></div>
					<ul>
						<li><a href="#">故宫博物院北院区项目开建</a><p>2018-06-06</p></li>
						<li><a href="#">美国依法管理民办博物馆</a><p>2018-06-06</p></li>
						<li><a href="#">国家博物馆“人类情感大师”展</a><p>2018-06-06</p></li>
						<li><a href="#">民办博物馆的尴尬生存</a><p>2018-06-06</p></li>
						<li><a href="#">为历史、科学与艺术塑像——博物馆空间及展览论</a><p>2018-06-06</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
<script>
	// Create an instance of Chart
	object:new Chart(plots, { type: 'bar', <strong>
		//Declare the chart typestrong>
		data: { labels: months, <strong>//X-axis datastrong> datasets: [{ data: traffic, <strong>//Y-axis datastrong> backgroundColor: '#3bf70c', <strong>//Color of the barsstrong> }] }, options:{ legend: {display: false}, //Remove the legend box by setting it to false. It's true by default. }});
</script>
</body>
</html>