<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
			<div class="info">
				<p>品质游 · 文化游</p>
				<p>地市级综合性博物馆</p>
			</div>
		</div>
		
<!--		<div class="nav">-->
<!--			<div class="center">-->
<!--				<ul>-->
<!--					<li><a href="index.html" class="first">网站首页</a></li>-->
<!--					<li><a href="about.html" class="first">博馆简介</a></li>-->
<!--					<li><a href="product.html" class="first">馆内展览</a></li>-->
<!--					<li><a class="first">馆内藏品</a></li>-->
<!--					<li><a class="first">游览路线</a></li>-->
<!--					<li><a href="service.html" class="first">参观预约</a></li>-->
<!--					<li class="on"><a href="news.html" class="first">热门资讯</a></li>-->
<!--					<li><a class="first">个人中心</a></li>-->
<!--				</ul>-->
<!--				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>-->
<!--			</div>-->
<!--		</div>-->
	</div>
	
	<div class="lmbanner"><img src="img/newbg.jpg" ></div>
	
	<div class="main">
		<div class="mleft">
			<h2>热门资讯</h2>
			<ul>
				<li class="on"><a href="news.html">行业动态</a></li>
				<li><a href="bnews.html">本馆新闻</a></li>
			</ul>
		</div>
		<div class="mright">
			<div class="title"><h2>热门资讯</h2></div>
			<div class="news">
				<ul>
					<li><div class="time"><p>13</p><span>2028/08</span></div><div class="info"><a href="article.html">故宫博物院北院区项目开建</a><p>“故宫博物院北院区”项目是“平安故宫”工程的重要组成部分，计划用地面积47.6公顷，未来将建设成文物修复与展示中心...</p></div></li>
					<li><div class="time"><p>13</p><span>2028/08</span></div><div class="info"><a href="article.html">美国依法管理民办博物馆</a><p>民办或私营博物馆已成为美国博物馆界的主流。美国对民办博物馆的管理主要依照对非营利机构的一般管理执行，大体可以分成三...</p></div></li>
					<li><div class="time"><p>13</p><span>2028/08</span></div><div class="info"><a href="article.html">国家博物馆“人类情感大师”展</a><p>国家博物馆“人类情感大师”展早在2010年10月，中意两国文化部部长签署了《关于促进文化遗产合作的谅解备忘录》。其...</p></div></li>
					<li><div class="time"><p>13</p><span>2028/08</span></div><div class="info"><a href="article.html">民办博物馆的尴尬生存</a><p>我们再从年度增长率的角度对比2008~2009年、2009~2010年已注册的三类博物馆数量以及全国博物馆总量的增...</p></div></li>
					<li><div class="time"><p>13</p><span>2028/08</span></div><div class="info"><a href="article.html">为历史、科学与艺术塑像——博物馆空间及展览论</a><p>内容提要：博物馆收藏着人类生存及其环境物证，并通过展览向公众展示、阐释、传播其所蕴含的历史、科学和艺术价值。博物馆...</p></div></li>
				</ul>
			</div>
			<div class="pages">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">上一页</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一页</a></li>
					<li><a href="#">末页</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
</body>
</html>