<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
			<div class="info">
				<p>品质游 · 文化游</p>
				<p>地市级综合性博物馆</p>
			</div>
		</div>
		
		<div class="nav">
			<div class="center">
				<ul>
					<li><a href="index.html" class="first">网站首页</a></li>
					<li><a href="about.html" class="first">博馆简介</a></li>
					<li><a href="product.html" class="first">馆内展览</a></li>
					<li><a class="first">馆内藏品</a></li>
					<li><a class="first">游览路线</a></li>
					<li><a href="service.html" class="first">参观预约</a></li>
					<li><a href="news.html" class="first">热门资讯</a></li>
					<li><a class="first">个人中心</a></li>
				</ul>
				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>
			</div>
		</div>
	</div>
	
	<div class="lmbanner"><img src="img/productbg.jpg" ></div>
	
	<div class="main">
		<div class="mleft">
			<h2>陈列展览</h2>
			<ul>
				<li><a href="prohot.html">专题展览</a></li>
				<li class="on"><a href="procs.html">常设展览</a></li>
			</ul>
		</div>
		<div class="mright">
			<div class="title"><h2>常设展览</h2></div>
			<div class="product">
				<ul>
					<li><img src="img/pro_08.jpg" alt=""><p>《石器时代的河北》</p></li>
					<li><img src="img/pro_10.jpg" alt=""><p>非的故事</p></li>
					<li><img src="img/pro_11.jpg" alt=""><p>传统农耕时代</p></li>
					<li><img src="img/npro_08.jpg" alt=""><p>博物馆大厅</p></li>
					<li><img src="img/npro_01.jpg" alt=""><p>珍奇石器千万</p></li>
					<li><img src="img/pro_07.jpg" alt=""><p>《宋朝古书》</p></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
</body>
</html>