<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>博物馆</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/css.css"/>
</head>
<body>
	<div class="header">
		<div class="top">
			<h1><a href="index.html">博物馆</a></h1>
			<div class="info">
				<p>品质游 · 文化游</p>
				<p>地市级综合性博物馆</p>
			</div>
		</div>
		
		<div class="nav">
			<div class="center">
				<ul>
					<li><a href="index.html" class="first">网站首页</a></li>
					<li><a href="about.html" class="first">博馆简介</a></li>
					<li><a href="product.html" class="first">馆内展览</a></li>
					<li><a class="first">馆内藏品</a></li>
					<li><a class="first">游览路线</a></li>
					<li><a href="service.html" class="first">参观预约</a></li>
					<li class="on"><a href="news.html" class="first">热门资讯</a></li>
					<li><a class="first">个人中心</a></li>
				</ul>
				<div class="search"><input type="text" placeholder="请输入搜索关键词"><button>搜索</button></div>
			</div>
		</div>
	</div>
	
	<div class="lmbanner"><img src="img/servicebg.jpg" ></div>
	
	<div class="main">
		<div class="mright">
			<div class="title"><h2>参观预约</h2></div>
			<div class="service">
				<p>填写信息预约</p>
			</div>
			<div class="title"><h2>参观须知</h2></div>
			<div class="service">
				<p>1、自觉遵守公共秩序，请勿大声喧哗，人多时请自觉排队参观。</p>
				<p>2、衣冠不整者、醉酒者、精神病患者、携带宠物者谢绝入馆。</p>
				<p>3、幼儿、无行为能力或限制行为能力者须在监护人陪同下入馆参观。</p>
				<p>4、禁止携带易燃易爆等危险品入馆。</p>
				<p>5、请勿在馆内吸烟、随地吐痰、乱扔杂物。</p>
				<p>6、请勿在馆内奔跑、追逐、攀爬、躺卧。</p>
				<p>7、禁止使用闪光灯、三脚架拍摄。</p>
				<p>地址：XXX省XXX市XXX县XXX路XXX号</p>
				<p>邮编：000000</p>
				<p>电话：020-000000、000-000000</p>
				<p>E-mail：xxx@.co.m</p>
				<p>网址：www.xxxx.org</p>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<p>Institutions & Organizations Design博物馆</p>
		<div class="copy">版权信息：XXXXXXXXXXXXXXXXX</div>
	</div>
</body>
</html>